body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    background-size: cover;
    color: #fff;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf24RDSiYE6zzew7_Uc7Ni4La1I6xxUAA9sA&usqp=CAU);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  
  .image img {
    max-width: 400px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  